<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"><a class="sidebar-link sidebar-link" th:href="@{/personal-cabinet}"
                                            aria-expanded="false"><i data-feather="home"
                                                                     class="feather-icon"></i><span
                        class="hide-menu" th:text="#{menu.general.personal.cabinet}"></span></a></li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu" th:text="#{menu.general.user}"></span></li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/profile-data}"
                       aria-expanded="false">
                        <i data-feather="tag" class="feather-icon"></i>
                        <span class="hide-menu" th:text="#{menu.profile}"> </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" th:href="@{/add-data}" aria-expanded="false">
                        <i data-feather="message-square" class="feather-icon"></i>
                        <span class="hide-menu" th:text="#{menu.add.data}"></span></a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" th:href="@{/medical-calculations}" aria-expanded="false">
                        <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu" th:text="#{menu.medical.calculations}">
                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" th:href="@{/recommendations}" aria-expanded="false">
                        <i data-feather="calendar" class="feather-icon"></i><span class="hide-menu" th:text="#{menu.recommendations}">

                        </span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" th:href="@{/summary}" aria-expanded="false">
                        <i data-feather="message-square" class="feather-icon"></i>
                        <span class="hide-menu" th:text="#{menu.summary}"></span></a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" th:href="#{url}" aria-expanded="false">
                        <i data-feather="file-text" class="feather-icon"></i>
                        <span class="hide-menu" th:text="#{doctor}"></span></a>
                </li>

                <li class="list-divider"></li>
                <li class="nav-small-cap">
                        <span class="hide-menu" th:text="#{menu.general.health}"></span>
                </li>

                <li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
                                            aria-expanded="false"><i data-feather="file-text"
                                                                     class="feather-icon"></i><span
                        class="hide-menu" th:text="#{body.and.health}"> </span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a th:href="@{/bmi}" class="sidebar-link"><span
                                class="hide-menu" th:text="#{additional.bmi}">
                                        </span></a>
                        </li>
                        <li class="sidebar-item"><a th:href="@{/fitness}" class="sidebar-link"><span
                                class="hide-menu" th:text="#{additional.fintess}">
                                        </span></a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item"><a class="sidebar-link has-arrow" href="javascript:void(0)"
                                            aria-expanded="false"><i data-feather="grid" class="feather-icon"></i><span
                        class="hide-menu" th:text="#{other}"></span></a>
                    <ul aria-expanded="false" class="collapse  first-level base-level-line">
                        <li class="sidebar-item"><a href="table-basic.html" th:href="@{/nutrition}"
                                                    class="sidebar-link"><span
                                class="hide-menu" th:text="#{nutrition}">
                                        </span></a>
                        </li>
                        <li class="sidebar-item"><a href="table-dark-basic.html" th:href="@{/analyser}"
                                                    class="sidebar-link"><span
                                class="hide-menu" th:text="#{analyzer}"></span></a>
                        </li>
                    </ul>
                </li>

                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu" th:text="#{menu.general.extra}"></span></li>
                <li class="sidebar-item">
                    <a class="sidebar-link sidebar-link" th:href="@{/logout}" aria-expanded="false">
                        <i data-feather="log-out" class="feather-icon"></i>
                        <span class="hide-menu" th:href="@{/logout}" th:text="#{log.out}">Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
</body>
</html>