<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{/img/logo.jpg}">
    <title th:text="#{title.bmi}">Medical Calculations</title>
    <!-- Custom CSS -->
    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div th:replace="header :: header"></div>
    <div th:replace="aside :: aside"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="#{additional.bmi}"></h4>
                            <!--/*@thymesVar id="bmiResult" type="tef.smarth.api.bmi.response.BMIResponse"*/-->
                            <form th:object="${bmiResult}" th:action="@{#}" method="post">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="height" th:text="#{height}+' '+#{cm}"></label>
                                                <input type="text" id="height" readonly name="height"
                                                       class="form-control"
                                                       th:value="${bmiResult.height.cm}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="weight" th:text="#{weight}+' '+#{kg}"></label>
                                                <input type="text" id="weight" readonly name="weight"
                                                       class="form-control"
                                                       th:value="${bmiResult.weight.kg}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label  class="text-danger" for="ideal" th:text="#{ideal.weight}"></label>
                                                <input type="text" id="ideal" readonly name="ideal"
                                                       class="form-control"
                                                       th:value="${bmiResult.ideal_weight}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="surface" th:text="#{surface.area}"></label>
                                                <input type="text" id="surface" readonly name="surface"
                                                       class="form-control"
                                                       th:value="${bmiResult.surface_area}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h3 class="text-primary"><label for="ponderal" th:text="#{ponderal.index}"></label></h3>
                                                <input type="text" id="ponderal" readonly name="ponderal"
                                                       class="form-control"
                                                       th:value="${bmiResult.ponderal_index}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h3><label for="bmr" th:text="#{bmr}"></label></h3>
                                                <input type="text" id="bmr" readonly name="bmr"
                                                       class="form-control"
                                                       th:value="${bmiResult.bmr.value}">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h3 class="text-primary"><label for="bmi" th:text="#{bmi}"></label></h3>
                                                <input type="text" id="bmi" readonly name="bmi"
                                                       class="form-control"
                                                       th:value="${bmiResult.bmi.value}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="bmi.prime" th:text="#{bmi.prime}"></label>
                                                <input type="text" id="bmi.prime" readonly name="bmi.prime"
                                                       class="form-control"
                                                       th:value="${bmiResult.bmi.prime}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label th:class="text-warning" for="bmi.status" th:text="#{status}"></label>
                                                <input type="text" id="bmi.status" readonly name="bmi.status"
                                                       class="form-control"
                                                       th:value="${bmiResult.bmi.status}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text-danger" for="bmi.risk" th:text="#{risk}"></label>
                                                <input type="text" id="bmi.risk" readonly name="bmi.risk"
                                                       class="form-control"
                                                       th:value="${bmiResult.bmi.risk}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h3 class="text-primary"><label for="whr" th:text="#{whr}"></label></h3>
                                                <input type="text" id="whr" readonly name="whr"
                                                       class="form-control"
                                                       th:value="${bmiResult.whr.value}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label  class="text-warning" for="whr.status" th:text="#{status}"></label>
                                                <input type="text" id="whr.status" readonly name="whr.status"
                                                       class="form-control"
                                                       th:value="${bmiResult.whr.status}">
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <h3 class="text-primary"><label for="whtr" th:text="#{whtr}"></label></h3>
                                                <input type="text" id="whtr" readonly name="whtr"
                                                       class="form-control"
                                                       th:value="${bmiResult.whtr.value}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="text-warning" for="whtr.status" th:text="#{status}"></label>
                                                <input type="text" id="whtr.status" readonly name="whtr.status"
                                                       class="form-control"
                                                       th:value="${bmiResult.whtr.status}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>

<script th:src="@{/dist/js/app-style-switcher.js}"></script>
<script th:src="@{/dist/js/feather.min.js}"></script>
<script th:src="@{/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/dist/js/sidebarmenu.js}"></script>

<script th:src="@{/dist/js/custom.min.js}"></script>

<script th:src="@{/assets/extra-libs/c3/d3.min.js}"></script>
<script th:src="@{/assets/extra-libs/c3/c3.min.js}"></script>
<script th:src="@{/assets/libs/chartist/dist/chartist.min.js}"></script>
<script th:src="@{/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{/dist/js/pages/dashboards/dashboard1.min.js}"></script>
</body>

</html>