<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="icon/logo.ico" />
    <title>Smarth Personal Cabinet</title>
    <!-- Custom CSS -->
    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet"/>
    <link th:href="@{/css/mycss.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-md">
        <div class="navbar-header" data-logobg="skin6">
            <a class="nav-toggler waves-effect waves-light d-block d-md-none" ><i
                    class="ti-menu ti-close"></i></a>
            <div class="navbar-brand">
                <!-- Logo icon -->
                <a th:href="@{/client/personal-cabinet}">
                    <img th:src="@{/img/logo.png}" alt="homepage" class=" logo-personal-cabinet"/>
                </a>
            </div>
            <a class="topbartoggler d-block d-md-none waves-effect waves-light"
               data-toggle="collapse" data-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="ti-more"></i></a>
        </div>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                <li class="nav-item dropdown"
                    th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="globe" class="svg-icon"></i>
                    </a>
                    <div th:if="${(param.lang != null)}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                           th:href="@{${urlBuilder.replaceQueryParam('lang', 'ua').build().toUriString()}}"
                           th:text="#{navbar.locale.ua}"
                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"></a>
                        <a class="dropdown-item"
                           th:href="@{${urlBuilder.replaceQueryParam('lang', 'eng').build().toUriString()}}"
                           th:text="#{navbar.locale.eng}"
                           th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                        </a>
                    </div>
                    <div th:if="${(param.lang == null)}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{${currentUrl}(lang=ua)}" th:text="#{navbar.locale.ua}"></a>
                        <a class="dropdown-item" th:href="@{${currentUrl}(lang=eng)}"
                           th:text="#{navbar.locale.eng}"></a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav float-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <img src="/img/pattern2.jpg" alt="user" class="rounded-circle"
                             width="40">
                        <span class="ml-2 d-none d-lg-inline-block">
                            <span th:text="#{summary.hi}"></span>
                            <!--/*@thymesVar id="user" type="tef.smarth.model.User"*/-->
                            <span class="text-dark" th:text="${user.firstName}+' '+${user.lastName} "></span>
                            <i data-feather="chevron-down" class="svg-icon"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                        <a class="dropdown-item" th:href="@{/client/personal-cabinet}">
                            <i data-feather="user" class="svg-icon mr-2 ml-1"
                               th:value="#{menu.general.personal.cabinet}"> Personal Cabinet</i>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/logout}">
                            <i data-feather="power" class="svg-icon mr-2 ml-1" th:value="#{log.out}">Log out</i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>
