<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smarth Login </title>

    <meta charset="utf-8">
    <!-- Favicon icon -->
    <link rel="icon" type="image/x-icon" href="icon/logo.ico" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>


<!------ Include the above in your HEAD tag ---------->
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn  first resize">
            <img th:src="@{/img/logo.jpg}" id="icon" alt="User Icon"/>
        </div>

        <!-- Login Form -->
        <form method="post" th:action="@{/login}" th:object="${userDto}">
            <input type="text" id="username" class="fadeIn second" th:field="*{username}" name="username" placeholder="username">
            <input type="text" id="password" class="fadeIn third" th:field="*{password}" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
            <input type="reset" value="Reset" />
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="card-link " href="#">Forgot Password?</a>
            <a class="card-link" th:href="@{/registration}">Registration</a>
        </div>

    </div>
</div>
</body>

</html>
