<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{/img/logo.jpg}">
    <title>Profile Data</title>
    <!-- Custom CSS -->
    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div th:replace="header :: header"></div>
    <div th:replace="aside :: aside"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title" th:text="#{account.data}"></h4>

                            <!--/*@thymesVar id="user" type="tef.smarth.model.User"*/-->
                            <!--/*@thymesVar id="userUpdate" type="tef.smarth.model.User"*/-->
                            <form th:object="${userUpdate}" th:action="@{/client/updateUser}" method="post">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label  for="firstName" th:text="#{placeholder.first.name}"></label>
                                                <input type="text" id="firstName" name="firstName" required
                                                       class="form-control"
                                                       th:value="${user.firstName}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="lastName" th:text="#{placeholder.last.name}"></label>
                                                <input type="text" id="lastName" name="lastName" required
                                                       class="form-control"
                                                       th:value="${user.lastName}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="username" th:text="#{placeholder.username}"></label>
                                                <input type="text" id="username" name="username" required
                                                       class="form-control" th:value="${user.username}">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="email" th:text="#{placeholder.email}"></label>
                                                <input type="email" id="email" name="email" required
                                                       class="form-control" th:value="${user.email}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="password" th:text="#{placeholder.password}"></label>
                                                <input type="password" id="password" name="password"
                                                       class="form-control" th:placeholder="#{placeholder.password}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="birthday" th:text="#{placeholder.birthday}"></label>
                                                <input type="date" id="birthday" name="birthday"
                                                       class="form-control" th:value="${user.birthday}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="sex" th:text="#{placeholder.sex}"></label>
                                                <select th:field="*{sex}" id="sex" name="sex"
                                                        class="custom-select mr-sm-2">
                                                    <option th:each="g : ${T(tef.smarth.entity.enums.Sex).values()}"
                                                            th:selected="${g==user.sex}"   th:value="${g}"  th:text="${g.displayName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="bloodGroup" th:text="#{placeholder.blood.group}"></label>
                                                <select th:field="*{bloodGroup}" id="bloodGroup" name="bloodGroup"
                                                        class="custom-select mr-sm-2">
                                                    <option th:each="g : ${T(tef.smarth.entity.enums.BloodGroup).values()}"
                                                            th:selected="${g==user.bloodGroup}" th:class="text-black"  th:value="${g}"  th:text="${g.displayName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-info" th:text="#{submit}"></button>
                                            <button type="reset" class="btn btn-dark" th:text="#{reset}"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>

<script th:src="@{dist/js/app-style-switcher.js}"></script>
<script th:src="@{dist/js/feather.min.js}"></script>
<script th:src="@{assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{dist/js/sidebarmenu.js}"></script>

<script th:src="@{dist/js/custom.min.js}"></script>

<script th:src="@{assets/extra-libs/c3/d3.min.js}"></script>
<script th:src="@{assets/extra-libs/c3/c3.min.js}"></script>
<script th:src="@{assets/libs/chartist/dist/chartist.min.js}"></script>
<script th:src="@{assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{dist/js/pages/dashboards/dashboard1.min.js}"></script>
</body>

</html>