<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{/img/logo.jpg}">
    <title>Recommendations</title>
    <!-- Custom CSS -->
    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet" />
    <link th:href="@{/css/mycss.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div th:replace="header :: header"></div>
    <div th:replace="aside :: aside"></div>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title mb-3">Tabs Vertical Left</h4>

                            <div class="row">
                                <div class="col-sm-3 mb-2 mb-sm-0">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                                         aria-orientation="vertical">
                                        <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill"
                                           href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                           aria-selected="true">
                                            <i class="mdi mdi-home-variant d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Home</span>
                                        </a>
                                        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                                           href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                           aria-selected="false">
                                            <i class="mdi mdi-account-circle d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Profile</span>
                                        </a>
                                        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill"
                                           href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                           aria-selected="false">
                                            <i class="mdi mdi-settings-outline d-lg-none d-block mr-1"></i>
                                            <span class="d-none d-lg-block">Settings</span>
                                        </a>
                                    </div>
                                </div> <!-- end col-->

                                <div class="col-sm-9">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane fade active show" id="v-pills-home" role="tabpanel"
                                             aria-labelledby="v-pills-home-tab">
                                            <p class="mb-0">Cillum ad ut irure tempor velit nostrud occaecat ullamco
                                                aliqua anim Leggings sint. Veniam sint duis incididunt
                                                do esse magna mollit excepteur laborum qui. Id id reprehenderit sit
                                                est eu aliqua occaecat quis et velit
                                                excepteur laborum mollit dolore eiusmod. Ipsum dolor in occaecat
                                                commodo et voluptate minim reprehenderit
                                                mollit pariatur. Deserunt non laborum enim et cillum eu deserunt
                                                excepteur ea incididunt minim occaecat.</p>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                             aria-labelledby="v-pills-profile-tab">
                                            <p class="mb-0">Culpa dolor voluptate do laboris laboris irure
                                                reprehenderit id incididunt duis pariatur mollit aute magna
                                                pariatur consectetur. Eu veniam duis non ut dolor deserunt commodo
                                                et minim in quis laboris ipsum velit
                                                id veniam. Quis ut consectetur adipisicing officia excepteur non
                                                sit. Ut et elit aliquip labore Leggings
                                                enim eu. Ullamco mollit occaecat dolore ipsum id officia mollit qui
                                                esse anim eiusmod do sint minim consectetur
                                                qui.</p>
                                        </div>
                                        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                             aria-labelledby="v-pills-settings-tab">
                                            <p class="mb-0">Food truck quinoa dolor sit amet, consectetuer
                                                adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                                                sociis
                                                natoque penatibus et magnis dis parturient montes, nascetur
                                                ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                                eu, pretium quis, sem. Nulla consequat massa quis enim. Cillum ad ut
                                                irure tempor velit nostrud occaecat ullamco
                                                aliqua anim Leggings sint. Veniam sint duis incididunt do esse magna
                                                mollit excepteur laborum qui.</p>
                                        </div>
                                    </div> <!-- end tab-content-->
                                </div> <!-- end col-->
                            </div>
                            <!-- end row-->
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->


            <!-- end row-->
        </div>
    </div>
</div>

<script th:src="@{assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>

<script th:src="@{dist/js/app-style-switcher.js}"></script>
<script th:src="@{dist/js/feather.min.js}"></script>
<script th:src="@{assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{dist/js/sidebarmenu.js}"></script>

<script th:src="@{dist/js/custom.min.js}"></script>

<script th:src="@{assets/extra-libs/c3/d3.min.js}"></script>
<script th:src="@{assets/extra-libs/c3/c3.min.js}"></script>
<script th:src="@{assets/libs/chartist/dist/chartist.min.js}"></script>
<script th:src="@{assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{dist/js/pages/dashboards/dashboard1.min.js}"></script>
</body>

</html>