<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smarth Registration</title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="icon/logo.ico" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">
    <link th:href="@{/css/registration.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/registration.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a th:href="@{/}">
            <img class="img-fluid rounded" style="width: 100px" th:src="@{/img/logo.jpg}" id="icon" alt="User Icon"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:text="#{login}">Login</a>
                </li>
                <li class="nav-item">
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <li class="nav-item dropdown"
                            th:with="currentUrl=(${#httpServletRequest.requestURI + '?' + #strings.defaultString(#httpServletRequest.queryString, '')})">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{lang}">
                            </a>
                            <div th:if="${(param.lang != null)}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   th:href="@{${urlBuilder.replaceQueryParam('lang', 'ua').build().toUriString()}}"
                                   th:text="#{navbar.locale.ua}"
                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"></a>
                                <a class="dropdown-item"
                                   th:href="@{${urlBuilder.replaceQueryParam('lang', 'eng').build().toUriString()}}"
                                   th:text="#{navbar.locale.eng}"
                                   th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                </a>
                            </div>
                            <div th:if="${(param.lang == null)}" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{${currentUrl}(lang=ua)}"
                                   th:text="#{navbar.locale.ua}"></a>
                                <a class="dropdown-item" th:href="@{${currentUrl}(lang=eng)}"
                                   th:text="#{navbar.locale.eng}"></a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Register</div>
                    <div class="card-body wrapper fadeInDown">
                        <!--/*@thymesVar id="userForm" type="tef.smarth.model.User"*/-->
                        <form th:object="${userForm}"  th:action="@{/registration}" method="post">

                            <div th:if="${#fields.hasErrors('*')}">
                                <div th:each="e : ${#fields.detailedErrors()}"
                                     th:class="${e.global} ? globalerr : fielderr">
                                    <p class="alert alert-danger" role="alert" th:text="${e.message}">The error message</p>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="firstName" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.first.name}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{firstName}" type="text" id="firstName" class="form-control"
                                           name="firstName" required
                                           th:placeholder="#{placeholder.first.name}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="lastName" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.last.name}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{lastName}" type="text" id="lastName" class="form-control"
                                           name="lastName" required
                                           th:placeholder="#{placeholder.last.name}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="username" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.username}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{username}" type="text" id="username" class="form-control"
                                           name="username" required
                                           th:placeholder="#{placeholder.username}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.email}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{email}" type="email" id="email" class="form-control" name="email"
                                           required
                                           th:placeholder="#{placeholder.email}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.password}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{password}" type="text" id="password" class="form-control"
                                           name="password" required
                                           th:placeholder="#{placeholder.password}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="passwordConfirm" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.password.confirm}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{passwordConfirm}" type="text" id="passwordConfirm" class="form-control"
                                           name="passwordConfirm" required
                                           th:placeholder="#{placeholder.password.confirm}">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="sex" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.sex}"></label>
                                <div class="col-md-6">
                                    <select th:field="*{sex}" id="sex" name="sex" class="col-md-6 form-control">
                                        <option th:each="sex : ${T(tef.smarth.entity.enums.Sex).values()}"
                                                th:value="${sex}" th:text="${sex.displayName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="birthday" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.birthday}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{birthday}" type="date" id="birthday" min="1920-01-01" value="2003-01-01"  max="2003-01-01" class="form-control"
                                           name="password" required
                                           th:placeholder="#{placeholder.birthday}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="weight" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.weight}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{weight}" type="number" id="weight" value="30" min="30" class="form-control"
                                           name="password" required
                                           th:placeholder="#{placeholder.weight}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="height" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.height}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{height}" type="number" id="height" value="30" min="120" class="form-control"
                                           name="password" required
                                           th:placeholder="#{placeholder.height}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="hip" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.hip}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{hip}" type="number" id="hip" value="30" min="50" class="form-control"
                                           name="password" required
                                           th:placeholder="#{placeholder.hip}">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="waist" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.waist}">
                                </label>
                                <div class="col-md-6">
                                    <input th:field="*{waist}" type="number" id="waist" value="30" min="30" class="form-control"
                                           name="password" required
                                           th:placeholder="#{placeholder.waist}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="bloodGroup" class="col-md-4 col-form-label text-md-right"
                                       th:text="#{placeholder.blood.group}"></label>
                                <div class="col-md-6">
                                    <select th:field="*{bloodGroup}" id="bloodGroup" name="bloodGroup"
                                            class="col-md-6 form-control">
                                        <option th:each="bloodGroup : ${T(tef.smarth.entity.enums.BloodGroup).values()}"
                                                th:value="${bloodGroup}" th:text="${bloodGroup.displayName}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" th:text="#{sign.up}" class="btn btn-primary">

                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>