<!DOCTYPE html>
<html dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:src="@{/img/logo.jpg}">
    <title th:text="#{summary.title}"></title>
    <!-- Custom CSS -->
    <link th:href="@{/assets/extra-libs/c3/c3.min.css}" rel="stylesheet">
    <link th:href="@{/assets/libs/chartist/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css}" rel="stylesheet"/>
    <link th:href="@{/css/mycss.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link th:href="@{/dist/css/style.min.css}" rel="stylesheet">
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>

<body>

<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">

    <div th:replace="header :: header"></div>
    <div th:replace="aside :: aside"></div>


    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="card-title" th:text="#{summary.title}"/>
                                    <h6 class="card-subtitle" th:text="#{summary.userTitle}"/>
                                    <!--/*@thymesVar id="user" type="tef.smarth.model.User"*/-->
                                    <div class="jumbotron">
                                        <h1 class="display-3" th:text="#{summary.hi}+' '  + ${user.firstName} +' '+ ${user.lastName}+ '!' "></h1>
                                        <p class="lead" th:text="#{summary.text2}"></p>
                                        <hr class="my-4">
                                        <p th:text="#{summary.text} + ' '+ ${user.email}"></p>
                                        <p class="lead">
                                            <a class="btn btn-primary btn-lg"
                                               role="button" th:href="@{/client/personal-cabinet}"
                                               th:text="#{summary.label.go.back}"></a>
                                        </p>
                                    </div>
                                    <form th:action="@{/client/summary-to-doctor}" method="post">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        <label for="email" th:text="#{placeholder.email.doctor.label}"></label>
                                                        <h5 th:if="${send}" class="text-success" th:text="#{send}"></h5>
                                                        <input type="email" id="email" name="email" required
                                                               class="form-control" th:placeholder="#{placeholder.email.doctor}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-info" th:text="#{submit}"></button>
                                                    <button type="reset" class="btn btn-dark" th:text="#{reset}"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{assets/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{assets/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>

<script th:src="@{dist/js/app-style-switcher.js}"></script>
<script th:src="@{dist/js/feather.min.js}"></script>
<script th:src="@{assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{dist/js/sidebarmenu.js}"></script>

<script th:src="@{dist/js/custom.min.js}"></script>

<script th:src="@{assets/extra-libs/c3/d3.min.js}"></script>
<script th:src="@{assets/extra-libs/c3/c3.min.js}"></script>
<script th:src="@{assets/libs/chartist/dist/chartist.min.js}"></script>
<script th:src="@{assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js}"></script>
<script th:src="@{assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js}"></script>
<script th:src="@{/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js}"></script>
<script th:src="@{dist/js/pages/dashboards/dashboard1.min.js}"></script>
</body>

</html>